<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/style.css" />
        <title>{% block title %}{% endblock %} - MiCatalog</title>
    </head>
    <body>
        <div id="header" class='section'>
            <h1>{% block header %}{% endblock %}MiCatalog</h1>
        </div>
        <div id="navigation" class='section'>
            <a href="{{url_for('index')}}">Home</a>  
            <a href="{{url_for('list_categories')}}">Categories</a>
            <a href="{{url_for('list_items')}}">Items</a>
            <span> | </span>
            {% if not name %}
            <a href="{{url_for('login')}}">Login</a>
            {% else %}
            <span>Hello {{name}}! (Not {{name}}? <a href="{{url_for('logout')}}">logout</a>).</span>
            {% endif %}
        </div>
        <div id="content" class='section'>
            <ul>
            {% for message in get_flashed_messages() %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% block content %}{% endblock %}
        </div>
        <div id="footer" class='section'>
        {% block footer %}
        &copy; Copyright 2016 by <a href="http://silferein.com">John Lynn</a>.
        {% endblock %}
        </div>
    </body>
</html>
