{% extends "layout/template.html" %}
{% block content %}
<div class="column">
    <h2>Categories</h2>
    <ul>
        {% for category in categories %}
        <li><a href="{{url_for('view_category', category_id=category.id)}}">{{category.name}}</a></li>
        {% endfor %}
    </ul>
</div>
<div class="column">
    <h2>Latest Items</h2>
    <ul>
        {% for item in items %}
        <li>
            <a href="{{url_for('view_item', item_id=item.id)}}">{{item.name}}</a>
            <a href="{{url_for('view_category', category_id=item.category_id)}}">({{item.category.name}})</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
